body {
	font-family: Helvetica, sans-serif;
}

h2 {
	margin-left: 2%;
}

#choose-ingredients {
	display: flex;
	flex-direction: row;
}

#choose-ingredients div {
	flex-grow: 1;
	border: 1px solid black;
	border-radius: 5px;

	margin: 5px;
	padding: 15px;
	box-shadow: 5px 5px 5px #888888;
}

#sandwich-output {
	min-height: 200px;
}

#sandwich-output p {
	margin-left: 2%;
}

button {
	height: 25px;
	margin: 20px 20px 0 20px;
	border: 1px solid black;
	border-radius: 3px;
}